<html>
  <head>
    <style>
      .items li {
          list-style-type: none;
          border: 2px solid black;
      }
      img {
          width: 200px;
          height: 200px;
      }
    </style>
  </head>
  <body>
    <ul class='items'>
      {{ range $cluster := .Clusters }}
      <li>
        <img src="/facesearch/{{ $cluster.DetectionID }}/detection.jpg" />
        <img src="/facesearch/{{ $cluster.DetectionID }}/landmarks.jpg" />
        File: {{ $cluster.ID }} //
        Score: {{ $cluster.Score }} //
        Class: {{ $cluster.Class }} //
        <a href='/facesearch/{{ $cluster.DetectionID }}/matches'>Matches: {{ $cluster.Matches }}</a> //
        Avg. distance: {{ $cluster.AvgDistance }} //
        Distance: {{ $cluster.Distance }}
      </li>
      {{ if $.ShowAll }}
      {{ range $detection := $cluster.Detections }}
      <li>
        <img src="/facesearch/{{ $detection.DetectionID }}/detection.jpg" />
        <img src="/facesearch/{{ $detection.DetectionID }}/landmarks.jpg" />
        File: {{ $detection.ID }} //
        Score: {{ $detection.Score }} //
        Class: {{ $detection.Class }} //
        Distance: {{ $detection.Distance }}
      </li>
      {{ end }}
      {{ end }}
      {{ end }}
    </ul>
  </body>
</html>
