<html>
  <head>
    <style>
      .items li {
          list-style-type: none;
          border: 2px solid black;
      }
      img {
          width: 200px;
          height: 200px;
      }
    </style>
  </head>
  <body>
    <ul class='items'>
      {{ range $detection := .Detections }}
      <li>
        <img src="/facesearch/{{ $detection.DetectionID }}/detection.jpg" />
        <img src="/facesearch/{{ $detection.DetectionID }}/landmarks.jpg" />
        Matches: {{ $detection.Matches }} //
        Avg. distance: {{ $detection.AvgDistance }}
      </li>
      {{ end }}
    </ul>
  </body>
</html>
